:root{
 --full-slider-bar: hsl(174, 77%, 80%);
 --slider-bg: hsl(174, 86%, 45%);
 --discount-bg: hsl(14, 92%, 95%);
 --discount-text: hsl(15, 100%, 70%);
 --cta-text: hsl(226, 100%, 87%);
 --main-bg: hsl(230, 100%, 99%);
 --empty-slider-bar: hsl(224, 65%, 95%);
 --toggle-bg: hsl(223, 50%, 87%);
 --text: hsl(225, 20%, 60%);
 --text-and-cta-bg: hsl(227, 35%, 25%);
}

*{
    border:0;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, small, a{
    -webkit-font-smoothing: antialiased;
}

ul{
    padding-left: 18px;
    list-style: url('../images/icon-check.svg');
}

body{
    position: relative;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    background-color: var(--main-bg);
}

.bg{
    width: 100%;
    height: 50vh;
    background-color: #f1f5fe;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 0px 200px;
    left: 0;
}

.container{
    max-width: 940px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.top{
    position: relative;
    text-align: center;
    margin: 100px 0;
}

.top::before{
    content: '';
    display: block;
    position: absolute;
    width: 146px;
    height: 145px;
    background-image: url('../images/pattern-circles.svg');
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.top > h1{
    font-weight: 800;
    margin-bottom: 22px;
}

.top > p{
    color: var(--text);
}

main{
    max-width: 540px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 8px 20px #eee;
}
.main__top,
.main__content,
.main__footer{
    display: flex;
    padding: 46px;
}

.main__top{
    justify-content: space-between;
    align-items: center;
}

.main__top > p{
    font-weight: 800;
    color: var(--text);
    display: flex;
    align-items: center;
}

.main__top > p:first-child{
    letter-spacing: 2px;
}


.main__top > p:last-child{
    font-weight: 600;
}


.main__top .value{
    font-weight: 800;
    font-size: 32px;
    color: var(--text-and-cta-bg);
    margin-right: 8px;
}

.main__content{
    justify-content: center;
    border-bottom: 1px solid #f1f5fe;
}

.main__content small{
    color: var(--text);
}

.main__content-discount{
    background-color: var(--discount-bg);
    color: var(--discount-text);
    padding: 2px 4px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 800;
}

.main__footer{
    justify-content: space-between;
    align-items: center;
}

button{
    width:  170px;
    height: 50px;
    background-color: var(--text-and-cta-bg);
    color: var(--cta-text);
    border-radius: 170px;
    cursor: pointer;
}

button:hover{
    color: #fff;
}

.attribution{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
}


/* Mobile */
@media screen and (max-width: 375px){

}

/* Desktop */
@media screen and (max-width: 1440px){

}